body {
    margin: 0 auto;
    scroll-behavior: smooth;
    max-width: 50%;
    min-width: 250px;
    padding: 0 20px;
}
  
.container {
   border: 2px solid #444450;
   background-color: #444444;
   border-radius: 5px;
   padding: 10px;
   margin: 10px 0;
}

.container p {
    margin: 5px;
}

.username {
    font-weight: bolder;
}

.darker {
   border-color: #444450;
   background-color: #2f2f38;
}

  
.container::after {
  content: "";
  clear: both;
  display: table;
}

#inputbox {
    display: flex;
    background-color: #3b4b5e;
    border-radius: 5px;
    padding: 10px;
}

#send-icon {
    color: #161f27;
}

#send-icon:hover {
    opacity: .3;
}

#chat-input {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 0;
}
